@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bruno+Ace+SC&family=Montserrat+Alternates:wght@200&family=Nunito+Sans:ital,wght@1,200&family=Poppins:wght@100&display=swap');

.display-cnt {
  display: flex;
  width: 700px;
  height: 40px;
  justify-content: space-between;
  padding-top: 20px;
}

.display-first-cnt {
  width: 320px;
}

.display-second-cnt {
  display: flex;
  width: 270px;
  justify-content: space-between;
}

.display-url {
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  font-size: 17px;
}

@media screen and (max-width: 440px) {
  .display-cnt {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 240px;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
    padding-top: 20px;
  }

  .display-first-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
  }

  .display-second-cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
