.home-main-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-home-card-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.card-empt-cnt {
  height: 5px;
  width: 25px;
  background-color: rgb(31, 143, 190);
}

.smallTwo-card-cnt {
  padding-top: 65px;
}

.smallThree-card-cnt {
  padding-top: 135px;
}

@media screen and (max-width: 850px) {
  .main-home-card-cnt {
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
  }

  .card-empt-cnt {
    height: 5px;
    width: 85px;
    background-color: rgb(31, 143, 190);
    transform: rotate(90deg);
  }

  .smallTwo-card-cnt {
    padding-top: 0px;
  }

  .smallThree-card-cnt {
    padding-top: 0px;
  }
}

@media screen and (max-width: 440px) {
  .main-home-card-cnt {
    padding-left: 45px;
  }
}
