@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bruno+Ace+SC&family=Montserrat+Alternates:wght@200&family=Nunito+Sans:ital,wght@1,200&display=swap');

.footer-cnt {
  display: flex;
  padding-top: 25px;
  justify-content: space-around;
  background-color: black;
}

.header {
  font-family: 'Abril Fatface', cursive;
  color: aliceblue;
}
.header:hover {
  color: aqua;
}

.para {
  font-family: 'Nunito Sans', sans-serif;
  color: aliceblue;
}

.para:hover {
  color: aqua;
}

.creator {
  color: orange;
}

.creator:hover {
  color: aliceblue;
}

@media screen and (max-width: 440px) {
  .footer-cnt {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    padding-top: 25px;
    gap: 18px;
    align-items: center;
    background-color: black;
  }
}
