.nav-cnt {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  position: relative;
}

.nav-btn {
  background-color: white;
  border: none;
}

.nav-first-part {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-first-btn-cnt {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.nav-logIn-btn,
.nav-signUp-btn {
  background-color: white;
  border: none;
}

.nav-auth-cnt {
  display: flex;
  gap: 6px;
}

.nav-signUp-btn {
  width: 100px;
  height: 45px;
  background-color: hsl(192, 77%, 46%);
  border-radius: 80px;
}

.nav-mobileView {
  display: none;
}

.nav-mobile-cnt {
  display: none;
}

@media screen and (max-width: 440px) {
  .nav-first-btn-cnt,
  .nav-auth-cnt {
    display: none;
  }

  .nav-mobileView {
    display: flex;
  }

  .mobile-view-btn {
    border: none;
    background-color: white;
  }

  .nav-cnt {
    display: flex;
    align-items: center;
    gap: 260px;
    padding-top: 20px;
    padding-left: 35px;
    margin-left: 30px;
  }

  .nav-heading {
    font-size: 38px;
  }

  .nav-mobile-cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 115px;
    max-width: 100%;
    width: 450px;
    height: 350px;
    background-color: rgb(60, 6, 111);
    border-radius: 19px;
    gap: 10px;
  }

  .nav-mobile-first {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid white;
    gap: 14px;
    padding-bottom: 10px;
    width: 300px;
  }

  .nav-mobile-second {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 300px;
    flex-direction: column;
  }

  .nav-mobile-btn {
    width: 180px;
    height: 47px;
    color: aliceblue;
    background-color: rgb(60, 6, 111);
    border: none;
    font-size: 22px;
    border-radius: 20px;
  }

  .nav-mobile-btn:hover {
    background-color: aqua;
    color: white;
    font-weight: 700;
  }
}
